<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/7fd6ee392c.js"></script>
    <meta charset="utf-8">
    <title>BOSS</title>
  </head>
  <body>

    <div id="housing">

      <div id="bosslogo">
        <img src="afbeeldingen/BOSS.png" id="BOSS" alt="BOSS">
      </div>

      <div id="navbar">
        <ul id="navlist">
          <li class="nav" id="home">
            <a href="#">
            <span class="fa fa-home fa-fw fa-2x ico" aria-hidden="true"></span>
              <p class="navtext">HOME</p>
        </a>
        </li>

        <li class="nav" id="features">
          <a href="#">
          <span class="fa fa-cogs fa-fw fa-2x ico" aria-hidden="true"></span>
            <p class="navtext">FEATURES</p>
        </a>
        </li>

        <li class="nav" id="pages">
          <a href="#">
          <span class="fa fa-files-o fa-fw fa-2x ico" aria-hidden="true"></span>
            <p class="navtext">PAGES</p>
      </a>
      </li>

      <li class="nav" id="portfolio">
        <a href="#">
        <span class="fa fa-th fa-fw fa-2x ico" aria-hidden="true"></span>
          <p class="navtext">PORTFOLIO</p>
    </a>
    </li>

    <li class="nav" id="blog">
      <a href="#">
      <span class="fa  fa-font fa-fw fa-2x ico" aria-hidden="true"></span>
        <p class="navtext">BLOG</p>
  </a>
  </li>

  <li class="nav" id="contact">
    <a href="#">
    <span class="fa fa-comment fa-fw fa-2x ico" aria-hidden="true"></span>
      <p class="navtext">CONTACT</p>
</a>
</li>

</ul>
    </div>

      </div>
  </body>
</html>
